/* ADVERTISERS DASHBORD */
.advertisers-campaigns-campaign {
    
    border-bottom: solid 0.2em $llgray;
    margin: 1.5em auto;
    width: 80%;

    h2 {
        margin-bottom: -0.5em;
    }

    .campaign-top {
        
        span {
            font-size: 1.5em;
            font-weight: bold;
        }

    }

    .campaign-bottom {
        
        display: table;
        margin: auto;
        
        span {
            display: table-cell;
            padding: 0.3em;
        }

    }

}

.advertisers-account-payments {
    
    margin-top: 2em;

    table {
        margin: auto;
    }

}

.advertisers-account-addfunds {

    background-color: $lllgray;
    padding: 1em;
    border: 1px solid $llgray;
    width: 50%;
    margin: auto;

    .card-exp-month {
        display: inline-block;
        width: 2em;
        margin-right: 1em;
    }

    .card-exp-year {
        display: inline-block;
        width: 4em;
    }

    .btn-primary {
        margin-top: 1em;
    }

}

.panel {

    display: inline-block;
    border: 1px solid $blue;
    width: 10em;
    margin: 1em;

    .panel-title {
        background-color: $blue;
        color: #FFF;
        font-size: 115%;
    }
    
    .panel-body {
        padding: 1em;
        font-size: 110%;
    }

}

.advertisers-campaign-manage {

    .campaign-edit {

        .bid-cost {
            margin-top: 1em;
        }

        .basic-info {
            margin-top: 2em;
        }

    }

    .campaign-reports > .report > h3 {
        margin-bottom: -0.5em;
    }

}

table.demographics {

    tbody > tr > td > span {
        
        margin: 0.2em;

        b {
            color: $dgray;
        }

    }

}

table.geo > tbody > tr > td > b {
    color: $dgray;
}

.campaign-user-targeting {

    tbody {

        .geo > td > span > b {
            color: $dgray;
        }

        .age-ranges > td > span, .genders > td > span {
            margin: 0.2em;
        }

    }

}

.campaign-content-targeting > tbody > .keywords > td > span,
.campaign-content-targeting > tbody > .sites > td > span {
    margin: 0.2em;
    font-size: 90%;
}

.country-region-selector {
    
    margin-bottom: 2em;

    .link-sm {
        margin: 0.5em;
    }

}

.target-sites {    
    margin-top: 1em;
    font-size: 90%;
}

.ad-pricing-info {
    max-width: 36em;
    margin: auto;
    margin-top: -1.3em;
}

.manage-media > table {
    margin: auto;
}


/* PUBLISHERS DASHBORD */
.publishers-campaigns {    
    
    margin: auto;
    margin-top: 3em;
    border-spacing: 0.5em;
    border-collapse: separate;
    font-size: 125%;

    .campaign {

        .name {
            font-weight: bold;
        }

        .site {
            color: $dgray;
        }

    }

    h3 {
        margin-bottom: 0em;
    }

    h4 {
        margin-bottom: 0.3em;
    }

}

.publishers-campaign-manage {

    .campaign-reports > .report > h3 {
        margin-bottom: 0em;
    }

    .ad-blacklist {

        .search-ads, .blacklisted-ads {
            
            max-height: 15em;
            overflow-y: auto;

            .ad {

                margin: 1em;

                .title {
                    font-weight: bold;
                }

                .description {
                    font-size: 90%;
                    display: block;
                }

            }

        }

    }

}

.publishers-account-payments {
    margin-bottom: 3em;
}
.category-selected > span {
    margin: 0.2em;
}

/* PANEL - AWAITING */
.panel-awaiting-publisher, .panel-awaiting-ad {
    
    table {
        
        margin: 2em auto;

        td {
            max-width: 45em;
        }

    }

}

/* SHARED */
.advertisers-nav, .advertisers-nav-sub, .nav,
.publishers-nav, .publishers-nav-sub {
    
    padding: 1em;
    background-color: #f7f7f7;
    margin: 1em auto;
    border: 1px solid #f0f0f0;

    .link-lg {
        margin: 1em;
    }

}

.advertisers-nav, .publishers-nav, .nav {
    width: 75%;
}

.advertisers-nav-sub, .publishers-nav-sub, .nav-sub {
    width: 60%;
}

.keywords, .sites, .media {

    span {
        margin: 0.2em;
        font-size: 90%;
    }

}

.search-results {
    
    max-width: 50em;
    margin: 1em auto;

    .search-result {
        margin: 0.5em;
        color: $gray;
        font-size: 90%;
    }

}

.advertisers-campaign, .report, .publishers-account-payments,
.publishers-campaign {
    
    table {
        margin: auto;
        border-spacing: 0.2em;
        border-collapse: separate;
    }

}