/* ADVERTISERS DASHBORD */
.advertisers-campaigns-campaign {
    
    border-bottom: solid 0.2em $lgray;
    margin: 1.5em auto;
    width: 80%;

    h2 {
        margin-bottom: -0.5em;
    }

    .campaign-top {
        
        span {
            font-size: 1.5em;
            font-weight: bold;
        }

    }

    .campaign-bottom {
        
        display: table;
        margin: auto;
        
        span {
            display: table-cell;
            padding: 0.3em;
        }

    }

}

.advertisers-account {

    section.info > dl {
        margin: 0em;
    }

}

.stripe-form {

    .card-exp-month {
        display: inline-block;
        width: 2em;
        margin-right: 1em;
    }

    .card-exp-year {
        display: inline-block;
        width: 4em;
    }

    .btn-primary {
        margin-top: 1em;
    }

}

.panel {

    display: inline-block;
    border: 1px solid $blue;
    width: 10em;
    margin: 1em;

    .panel-title {
        background-color: $blue;
        color: #FFF;
        font-size: 115%;
    }
    
    .panel-body {
        padding: 1em;
        font-size: 110%;
    }

}

.advertisers-campaign-manage {

    .campaign-edit {

        .bid-cost {
            margin-top: 1em;
        }

        .basic-info {
            margin-top: 2em;
        }

    }

}

dl.campaign-user-targeting {

    .age-ranges > dd > span, .genders > dd > span {
        margin: 0.2em;
    }

}

.campaign-content-targeting {
    
    dd.keywords > span, dd.sites > span {
        display: inline-block;
        margin: 0.2em;
        font-size: 90%;
    }
    
}

.country-region-selector {
    
    margin-bottom: 2em;

    .link-sm {
        margin: 0.5em;
    }

}

.target-sites {    
    margin-top: 1em;
    font-size: 90%;
}

.ad-pricing-info {
    max-width: 36em;
    margin: auto;
}


/* PUBLISHERS DASHBORD */
table.publishers-campaigns {    
    
    border-spacing: 0.5em;
    border-collapse: separate;
    font-size: 125%;

    .campaign {

        .name {
            font-weight: bold;
        }

        .site {
            color: $dgray;
        }

    }

    h3 {
        margin-bottom: 0em;
    }

    h4 {
        margin-bottom: 0.3em;
    }

}

.publishers-campaign-manage {

    .ad-blacklist {

        search-ads, div.blacklisted-ads {
            
            max-height: 15em;
            overflow-y: auto;

            .ad {

                margin: 1em;

                .title {
                    font-weight: bold;
                }

                .description {
                    font-size: 90%;
                    display: block;
                }

            }

        }

    }

}

.publishers-account {

    section.payment-information {

        .note {
            margin: 1em;
        }

        p {
            margin-top: 0em;
        }

        button {
            margin-top: 1em;
        }

    }

}

.publishers-campaign {

    div.keywords > span, div.categories > span {
        display: inline-block;
        margin: 0.2em;
        font-size: 90%;
    }

}

/* PANEL - AWAITING */
.panel-awaiting-publisher, .panel-awaiting-ad {
    
    table {
        
        margin: 2em auto;

        td {
            max-width: 45em;
        }

    }

    button {
        margin-top: 1em;
        margin-bottom: 2em;
    }

}

/* SHARED */
.advertisers-nav, .nav, .publishers-nav {
    
    padding: 0.2em;
    background-color: $lllgray;
    margin: 1em auto;
    border: 1px solid $llgray;

    .link-lg {
        margin: 1em;
    }

}

.advertisers-nav, .publishers-nav, .nav {
    width: 70%;
}

.keywords, .sites, .media {

    span {
        margin: 0.2em;
        font-size: 90%;
    }

}

.search-results {
    
    max-width: 50em;
    margin: 1em auto;

    .search-result {
        margin: 0.5em;
        color: $gray;
        font-size: 90%;
    }

}

.advertisers-campaign, .report, .publishers-campaign {
    
    table {
        border-spacing: 0.2em;
        border-collapse: separate;
    }

}

.note {
    font-size: 90%;
    display: inline-block;
    color: $dgray;
}
.note::before {
    font-weight: bold;
    content: "Note: ";
}