.home {

    .subtitle {
        color: $gray;
    }

    section.dashboards {

        .link-lg {
            margin: 1em;
        }

    }

    section.advertisers, section.publishers, section.developers {

        h3 {
            margin-bottom: -0.6em;
        }
        
    }

    .header-doc-resources {
        margin-bottom: 0.35em !important;
    }

    .home-register-publisher, .home-register-advertiser {
        background-color: white;
        padding: 1em;
    }

    button.register {
        margin-bottom: 1em;
    }

}