<!DOCTYPE html>
<html>
  <head>
    <title>Xyfir Ads</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
	<div id="container" class="container">
		<div class="logo">
			<span class="logo-xyfir">XYFIR</span>
			<span class="logo-ads">ADS</span>
		</div>
		
		<div id="content"></div>
		
		<script src="/js/App.js"></script>
		
		<div class="col-sm-12 footer">
			<a href="https://xyfir.com/network">Xyfir Network</a>
			<a href="https://xyfir.com/contact">Contact Us</a>
			<a href="https://accounts.xyfir.com/privacy">Privacy</a>
			<a href="https://accounts.xyfir.com/tos">Terms of Service</a>
			<a href="https://xyfir.com/about">About Us</a>
			<span>© 2017 Xyfir</span>
		</div>
	</div>
</body>
</html>