.dashboard-nav {
  padding: 0.4em;
  text-align: center;
}
.dashboard-nav > .col-sm-12 {
  background-color: #eee;
  font-size: 2em;
  margin: 0.3em;
  padding: 0.2em;
}
.dashboard-nav > .col-sm-12:hover {
  background-color: #ddd;
}
.dashboard-nav > .dashboard-nav-active:hover, .dashboard-nav > .dashboard-nav-active {
  background-color: $lblack;
  color: #fff;
}

.advertisers-nav, .advertisers-nav-sub {
    padding: 1em;
    background-color: #f7f7f7;
    margin: auto;
    border: 1px solid #f0f0f0
}
.advertisers-nav > .link-lg, .advertisers-nav-sub > .link-lg {
    margin: 1em;
}
.advertisers-nav {
    width: 75%;
}
.advertisers-nav-sub {
    width: 60%;
    margin-top: 1em;
}
.advertisers-campaigns-campaign {
    margin: 1.5em;
}
.advertisers-campaign > h2, .campaign-reports > .report > h3 {
    margin-bottom: -0.5em;
}
table.demographics > tbody > tr > td > span {
    margin: 0.2em;
}
table.demographics > tbody > tr > td > span > b,
table.geo > tbody > tr > td > b {
    color: #777;
}
.advertisers-campaign > table, .report > table {
    margin: auto;
    border-spacing: 0.2em;
    border-collapse: separate;
}
.advertisers-campaign > table > tbody > tr > td {
    max-width: 35em;
}
.campaign-user-targeting > tbody > .geo > td > span > b {
    color: #777;
}
.campaign-content-targeting > tbody > .keywords > td > span,
.campaign-content-targeting > tbody > .sites > td > span {
    margin: 0.2em;
    font-size: 90%;
}
.campaign-user-targeting > tbody > .age-ranges > td > span,
.campaign-user-targeting > tbody > .genders > td > span {
    margin: 0.2em;
}
.campaign-edit > .basic-info {
    margin-top: 2em;
}
.campaign-edit > div > h3 {
    margin-bottom: 0em;
}
.advertisers-account-payments {
    margin-top: 2em;
}
.advertisers-account-payments > table {
    margin: auto;
}
.advertisers-account-addfunds {
    background-color: #f7f7f7;
    padding: 1em;
    border: 1px solid #f0f0f0;
    width: 50%;
    margin: auto;
}
.advertisers-account-addfunds > .btn-primary {
    margin-top: 1em;
}
.advertisers-account-addfunds > div > .card-exp-month {
    display: inline;
    width: 2em;
    margin-right: 1em;
}
.advertisers-account-addfunds > div > .card-exp-year {
    display: inline;
    width: 4em;
}
.country-region-selector {
    margin-bottom: 2em;
}
.country-region-selector > .link-sm {
    margin: 0.5em;
}
.target-sites {    
    margin-top: 1em;
    font-size: 90%;
}
.search-results {
    margin-bottom: 1em;
}
.search-results > .search-result {
    margin: 0.5em;
    color: #707070;
    font-size: 90%;
}
.ad-pricing-info {    
    max-width: 36em;
    margin: auto;
    margin-top: -1.3em;
}
.manage-media > table {
    margin: auto;
}

.panel {
    display: inline-block;
    border: 1px solid $blue;
    width: 10em;
    margin: 1em;
}
.panel > .panel-title {
    background-color: $blue;
    color: #FFF;
    font-size: 115%;
}
.panel > .panel-body {
    padding: 1em;
    font-size: 110%;
}

.campaign-top {
    display: table;
    margin-bottom: 0.4em;
    margin: auto;
}
.campaign-top > span {
    font-size: 1.5em;
    font-weight: bold;
    display: table-cell;
    padding: 0.4em;
}
.campaign-bottom {
    display: table;
    margin: auto;
}
.campaign-bottom > span {
    display: table-cell;
    padding: 0.3em;
}